/* Body */

body {
  font-family: "futura-pt", sans-serif;
}

/* Navbar */

header {
  border-bottom: 1px solid #BFBFBF;
}

.navbar a {
  color: black;
}

.navbar-brand {
  font-weight: 400;
  letter-spacing: 0.05em;
}

.navbar-nav a {
  font-weight: 300;
  font-size: 0.85em;
}

.navbar-nav .active a {
  font-weight: 400;
}

.navbar a:hover{
  text-decoration: underline;
}

.navbar-light .navbar-toggler {
  border: 0px;
}

.dropdown-menu {
  border: none;
}

/* Jumbotron */

.inicio2{
  background-image: url("../img/Individuales2.jpg");
  /* background-size: cover; */
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
  background-color: white;
}

@media (min-width: 40em) {
  .inicio2{
    background-image: url("../img/Individuales2.jpg");
    background-size: cover;
    /* background-size: 600px; */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25em;
    background-color: white;
  }
}

@media (min-width: 62em) {
  .inicio2{
    background-image: url("../img/Individuales2.jpg");
    /* background-size: cover; */
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30em;
    background-color: white;
  }
}

.inicio1 {
  background-image: url("../img/test.png");
  /* background-size: cover; */
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10em;
  /* background-color: white; */
}

@media (min-width: 40em) {
  .inicio1 {
    background-image: url("../img/test.png");
    /* background-size: cover; */
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 25em;
    /* background-color: white; */
  }
}

@media (min-width: 62em) {
  .inicio1 {
    background-image: url("../img/test.png");
    /* background-size: cover; */
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30em;
    /* background-color: white; */
  }
}

.map {
  min-height: 10em;
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .map {
    min-height: 25em;
    margin-bottom: 2rem;
  }
}

@media (min-width: 62em) {
  .map {
    min-height: 30em;
    margin-bottom: 2rem;
  }
}

.display-3 {
  text-align: center;
  font-weight: 400;
  color: white;
}

.jumbotron .lead {
  text-align: center;
  font-weight: 300;
  color: white;
}

/* Marketing */

.marketing h2 {
  margin-top: 0.15em;
}

.hidden-divider {
  border: none;
}

.contacto h2 {
  font-weight: 400;
  font-size: 1.75em;
}

.contacto a {
  text-decoration: underline;
  color: #5a5a5a;
}

.contacto a:hover {
  color: #5a5a5a;
}

.nosotros h2 {
  margin-top: 8px;
}

.btn-secondary {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: #5a5a5a;
}

/* Footer */

.footer-link a {
  color: #5a5a5a;
  text-decoration: none;
}

.footer-link a:hover {
  text-decoration: underline;
  color: #5a5a5a
}

/* Form */

form {
  margin: 20px 0px;
}
